*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --white:#fafafb;
    --purple:#2a67ea;
    --blue-light:#04d4c4;
    --blue-dark:#2a73c2;
    --green:#2c7b98;
} 
body{
    background: linear-gradient(to bottom,var(--purple),var(--blue-light));
    height: 100vh;
}
.container{
    width: 400px;
    height: 600px;
    margin: 0 auto;
    max-width: 80%;
}

.perfil h1{
    color: var(--white);
}
.perfil span{
    color: white;
    letter-spacing: 1px;
}
#fecha{
    color: var(--white);
    padding: 50px 0px 5px 0px;
}

.agregar-tareas{
background-color: var(--white);
border-radius:15px;
height: 70px;
display: flex;
align-items: center;
padding:10px;
gap: 70px;
margin: 40px 0px;
 
& input{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: var(--white);
 &::placeholder{
    font-size: 1.1rem;
    color: var(--purple);
 }
}
& i{
    font-size: 50px;
    color:var(--purple);
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}
}
.seccion-tarea{
    & h3{
        color: var(--white);
        margin-bottom: 20px;
       
    }
    
    & li{
        display: flex;
        background:linear-gradient(to bottom, var(--blue-dark),var(--green));
        border-radius: 15px;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0px;
        color: var(--white);
    }
    & i{
        font-size: 25 px;
        &:hover{
            color: var(--blue-light);
            cursor: pointer;
        }
    }
    & ul > p{
        font-size:1.2rem ;
    }
}

.line-through{
    text-decoration:line-through;
}